* {
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
      font-family: sans-serif;
       background-image: linear-gradient(45deg, cyan, purple);
       width: 100%;
       justify-content: center;
     }
h1 {
  font-style: italic;
  color: blue;
}

form {
  background-image: linear-gradient(45deg, gold, silver) ;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
      background-color: silver;
        border: 5px solid black;
        padding: 7px;
        width: 100%;
        border-radius: 15px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: center;
}

form button:hover {
background-image: linear-gradient(45deg, silver, gold);
  cursor: pointer;
  box-shadow: -8px 20px 20px gray;
  transform: translateY(5px);
  transition: all 1s ease-out;}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}
.tela{
        background-color:  linear-gradient(45deg, gold, silver);
        position: absolute;
        justify-content: center;
        padding: 60px;
        border-radius: 20px;
        color: black;
        box-shadow: 3px 3px 43px 0px black;
        
        }

